.main-title {
    clear: both;
    width: 75%;
    margin: 20px auto;
    text-align: center;
    color: #777;
    border-bottom: 3px solid #ccc;
    border-top: 3px solid #ccc;
}

.image-container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    text-align: left;
    color: #EEE;
    height: 300px;
    overflow: hidden;
    background-color: #008800;
}

#bamboo-image {
    position: relative;
    min-width: 450px;
    width: 100%;
    left: 0;
    bottom: 0px;
    opacity: .75;
}

.image-container h1 {
    position: absolute;
    top: 90px;
    left: 20%;
    font-size: 40px;
}

.image-container h4 {
    position: absolute;
    top: 150px;
    left: 20%;
    max-width: 60%;
    font-size: 18px;
}

@media (max-width: 1000px) {

    .image-container h1 {
        left: 10%;
    }

    .image-container h4 {
        left: 10%;
    }
}